.backtologin{
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.8rem;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    color: #165ef0;
    font-weight: 500;
    transition: all 0.2s;
}
.backtologin svg{
    font-size: 1.2rem;
}
.backtologin:hover{
    background-color: #d3cdcd;
}